.menuStyle{
    width: 262px;
    float: left;
    height: 44px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.greyColor{
    background-color: rgb(234, 234, 234)
}

.setupImage{
    margin-right: 4px;
}

.hrDiv{
    height: 32px;
    width: 1px;
    background-color: #9DA2A6;
    float:left;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.smartType{
    margin-left: 10px;
}

