@charset "utf-8";
/* CSS Document */
fieldset legend span {
                FONT-SIZE: 12px;
                COLOR: #000000;
                FONT-FAMILY: verdana, arial, sans-serif;
            }
